<p id="notice"><%= notice %></p>

<h1>Publicaciones</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Titutlo</th>
      <th scope="col">Contenido</th>
      <th scope="col">Usuario</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @publicaciones.each do |publicacion| %>
      <tr>
        <td><%= publicacion.titulo %></td>
        <td><%= publicacion.contenido %></td>
        <td><%= publicacion.usuario.nombre %></td>
        <td class="text-center"><%= link_to 'Ver', publicacion, :class => 'btn btn-primary text-white' %></td>
        <td class="text-center"><%= link_to 'Editar', edit_publicacion_path(publicacion), :class => 'btn btn-success text-white' %></td>
        <td class="text-center"><%= link_to 'Eliminar', publicacion, :class => 'btn btn-danger text-white',method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>   
  </tbody>
</table>

<br>

<%= link_to 'Nueva Publicacion', new_publicacion_path, :class => 'btn btn-primary text-white' %>
