<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @publicacion.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @publicacion.contenido %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @publicacion.usuario_id %>
</p>

<%= link_to 'Edit', edit_publicacion_path(@publicacion) %> |
<%= link_to 'Back', publicaciones_path %>
