<div class="col-md-6 mx-auto mt-5">
<h3>Bienvenido</h3>

<span class="badge badge-danger"><%= flash[:error]%></span>
<%= form_with(url: login_path, local: true) do %>
  <div class="form-group">
    <%= label_tag :usuario%>
    <%# <label for="exampleInputEmail1">Email address</label> %>
    <%= text_field_tag :usuario, nil, class: 'form-control'%>
    <%# <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">     %>
  </div>
  <div>
    <%= label_tag :password%>
    <%= password_field_tag :password, nil, class: 'form-control'%>
  </div>
  <br>
  <br>
  <%= submit_tag "Entrar", class:'btn btn-primary'%>
<% end %>
</div>