<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Paterno</th>
      <th scope="col">Materno</th>
      <th scope="col">Rfc</th>
      <th scope="col">Clav</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.paterno %></td>
        <td><%= usuario.materno %></td>
        <td><%= usuario.rfc %></td>
        <td><%= usuario.clav %></td>
        <td class="text-center"><%= link_to 'Ver', usuario, :class => 'btn btn-primary text-white' %></td>
        <td class="text-center"><%= link_to 'Editar', edit_usuario_path(usuario), :class => 'btn btn-success text-white' %></td>
        <td class="text-center"><%= link_to 'Eliminar', usuario, :class => 'btn btn-danger text-white',method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_usuario_path, :class => 'btn btn-primary text-white' %>
