<h1>Mis publicaciones</h1>

<% @publicaciones.each do |p| %>
<br>
  <h3><%= p.titulo %></h3>
  <p><%= p.contenido%></p>
  Comentario:
  <%= form_with(model: [p,@comentario], local: true, method: :post) do |f| %>
    <%= f.text_field :contenido, class: 'form-control' %>
    <br>
    <%= f.submit "Enviar", class: 'btn btn-primary'%>
  <% end %>
<% end %>