<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Paterno:</strong>
  <%= @usuario.paterno %>
</p>

<p>
  <strong>Materno:</strong>
  <%= @usuario.materno %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @usuario.rfc %>
</p>

<p>
  <strong>Clav:</strong>
  <%= @usuario.clav %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
